<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
		<staticContent>
		  <remove fileExtension=".woff" /> <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		  <remove fileExtension=".woff2" /> <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		  <remove fileExtension=".otf" /> <mimeMap fileExtension=".otf" mimeType="application/font-otf" />
		</staticContent>
    </system.webServer>
</configuration>
